.register_page {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: rgba(192, 192, 192, 0.15);
}

.register_page .FBshadow {
  padding: 20px 25px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 30%; /* 150 , 200 , 200 , 200 , 1200  */
  max-width: 600px;
  box-shadow: 0 0 4px 0.5px rgba(0, 0, 0, 0.3);
}
.inputs_inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs_inline div {
  width: 48%;
}
.label {
  text-align: left;
  font-size: 12px;
  margin: 10px 0;
}

.inputs_select,
.inputs_radio,
.input_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs_select select {
  border-radius: 4px;
  width: 30%;
  padding: 6px;
}

.input_select select {
  border-radius: 4px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
}

.custom_label {
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
}

.footer_para p {
  margin-top: 15px;
  text-align: left;
  font-size: 12px;
}

.inputs_inline p {
  text-align: left;
  margin: 0;
  color: red;
}
