@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin : 0 ;
    font-family: 'Poppins', sans-serif;
}

.brand{
    color:orangered;
    margin:20px;

}


nav{
    text-align: left;
    padding:5px;
    box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.4);
}
.hero{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.hero img{
    margin:50px 20px;
    width: 60vw;
    align-self: center;

}
.hero p,.hero h3{
    margin: 2px;
}
.card{
 padding: 10px;
}
.card>img{
width:80%;
border-radius: 10px;

}
.card .details{
    display: flex;
    align-items: center;
    align-content: center;
}
.card .details img{
    width:20px;
}
.card p{
    margin:0;
}
.item{
    margin-right:5px;
}
.bold{
    font-weight: bold;
}

.gray{
    color: gray;
}
.red{
    color:red;
}


/* Compteur **/


.compteur{
    font-size: 22px;
    margin: 20px auto;
    padding: 20px;
    width: 500px;
    text-align: center;
    
    color: white;
}


.black{
background: black;
}
.red{
    background: red;
}

.green{
    background: green;
}

.compteur button{
    font-size: 22px;
    margin: auto 10px;
    padding: 20px;
}

.custom{
    overflow: scroll;
}