.contact {
  padding: 10px;
  display: flex;
  align-items: center;
}

.contact img {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

div.active {
  border: 1px solid white;
  position: relative;
  bottom: -10px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
}
