.carousel{
    overflow: hidden;
width: 700px;
border-radius: 5px;
margin: 10px 10px 10px 0;
box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.75);
}